body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

img {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  margin: 0;
}

nav {
  background-color: #3E6990;
}

.container {
  margin: 0 4rem;
}

@media (min-width: 768px) {
  .container {
    margin: 0 6rem;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .logo {
  height: 20px;
  margin: 10px;
  margin-right: auto;
}

.navbar .lens {
  height: 15px;
  margin: 10px 20px 10px 0;
}

.navbar .hamburger {
  height: 15px;
  margin: 10px 0;
}

@media (min-width: 768px) {
  .navbar .container {
    margin: 0 6rem;
  }
  .navbar .lens {
    visibility: hidden;
  }
  .navbar .hamburger {
    visibility: hidden;
  }
}

header {
  background-image: url("../images/small/banner-sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  background-color: #3E6990;
  background-blend-mode: overlay;
  text-align: center;
  margin: 0;
  color: #fff;
}

header h3 {
  padding-top: 30px;
}

header button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F39a65), to(#ef7538));
  background-image: linear-gradient(#F39a65, #ef7538);
  color: #fff;
  margin: 15px;
  padding: 10px 40px;
  border-radius: 25px;
  border: none;
}

@media (min-width: 768px) {
  header {
    background-image: url("../images/medium/banner-md.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    background-size: cover;
  }
  header h3 {
    padding-top: 60px;
    font-size: 2rem;
  }
  header button {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F39a65), to(#ef7538));
    background-image: linear-gradient(#F39a65, #ef7538);
    color: #fff;
    margin: 15px;
    padding: 10px 40px;
    border-radius: 25px;
    border: none;
  }
}

.cards {
  text-align: center;
  margin: 0 0.5rem;
  font-weight: 300;
  font-size: 0.8rem;
  color: #737373;
}

.cards .icons {
  margin-top: 20px;
  height: 40px;
}

.cards .read-more {
  color: #F39B6D;
}

.cards .hr-sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8d8d8d;
  margin: 8px 0px;
}

.cards .hr-sect::before,
.cards .hr-sect::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #737373;
  height: 0.8px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 25px 0px 10px;
}

.cards .hr-sect::before {
  margin: 0px 10px 0px 25px;
}

@media (min-width: 768px) {
  .cards {
    margin: 0 3rem;
  }
  .cards .row-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cards .row-one .col-one {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .cards .row-one .col-two {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .cards .row-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cards .col-three {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .cards .col-four {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.quote {
  background-color: #F0F0F0;
  font-family: "Merriweather", serif;
  font-size: 0.8rem;
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;
  color: #3E6990;
  position: relative;
}

.quote img {
  height: 30px;
  text-align: center;
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -20px;
}

.city {
  text-align: center;
}

.city .city-card {
  margin-bottom: 10px;
}

.city .city-pic {
  height: 160px;
  border-top: #3E6990 solid 2px;
  border-bottom: #3E6990 solid 2px;
  background-color: #3E6990;
  background-blend-mode: overlay;
}

.city .date {
  margin-top: 5px;
  margin-bottom: 0;
  color: #8AA460;
  font-size: 0.7rem;
}

.city .city-description {
  margin: 0;
  color: #737373;
  font-weight: lighter;
}

.city button {
  background: #fff;
  color: #3E6990;
  margin: 2px;
  padding: 10px 40px;
  border-radius: 25px;
  border: 1px solid #3E6990;
}

.get-in-touch {
  text-align: center;
  padding: 50px 0 30px 0;
  background-image: url("../images/small/bg-green-sm.png");
  background-position: bottom;
  background-repeat: none;
  background-size: cover;
}

.get-in-touch p {
  color: #3E6990;
  font-size: 1.1rem;
}

.get-in-touch button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F39a65), to(#ef7538));
  background-image: linear-gradient(#F39a65, #ef7538);
  color: #fff;
  margin: auto;
  padding: 10px 40px;
  border-radius: 25px;
  border: none;
}

.menu-bottom {
  background-color: #3E6990;
  color: #fff;
  background-image: url("../images/small/bg-blue-sm.png");
  background-position: bottom;
  background-repeat: none;
  background-size: cover;
}

.menu-bottom .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.menu-bottom .col-one {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.menu-bottom .col-one ul {
  text-decoration: none;
  margin: 0;
  padding: 20px 0 0 0;
}

.menu-bottom .col-one li {
  list-style-type: none;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .menu-bottom .col-one {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

.menu-bottom .col-two {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: block;
  padding: 20px 0 0 0;
  text-align: right;
}

.menu-bottom .col-two img {
  height: 35px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .menu-bottom .col-two {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .menu-bottom .col-two img {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.menu-bottom .subscribe {
  text-align: center;
}

.menu-bottom .subscribe p {
  margin: 0 0 5px 0;
  text-align: left;
  font-size: 0.8rem;
}

.menu-bottom .subscribe .signup {
  padding-bottom: 50px;
  text-align: left;
}

.menu-bottom .subscribe input[type="email"] {
  width: 187px;
  height: 30px;
  padding-right: 2rem;
  padding-left: 2em;
  border-radius: 25px;
  border: none;
  color: #737373;
}

.menu-bottom .subscribe input[type="submit"] {
  margin-left: -76px;
  height: 30px;
  width: 70px;
  padding: 5px 10px 5px 10px;
  background: #8AA460;
  color: #fff;
  border-radius: 25px;
  border: none;
  -webkit-appearance: none;
  font-weight: bold;
}

.menu-bottom .subscribe ::-webkit-input-placeholder {
  color: #cecece;
}

.menu-bottom .subscribe :-ms-input-placeholder {
  color: #cecece;
}

.menu-bottom .subscribe ::-ms-input-placeholder {
  color: #cecece;
}

.menu-bottom .subscribe ::placeholder {
  color: #cecece;
}

footer {
  background-color: #1D3142;
  text-align: center;
  color: #F0F0F0;
  position: relative;
}

footer img {
  height: 40px;
  position: -20;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: -20px;
}

footer .footer-content {
  padding: 30px 0 10px 0;
}

footer .copyrights {
  margin: 0;
  font-size: 0.6rem;
}

footer .award {
  font-size: 0.6rem;
  margin-top: 10px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (min-width: 768px) {
  footer .footer-content {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer .copyrights {
    margin-right: auto;
  }
}
/*# sourceMappingURL=styles.css.map */